include                                 *.txt
recursive-include   backends/keywords   *
recursive-include   backends/haskell    *
recursive-include   backends/java       *
recursive-include   backends/junit      *
recursive-include   backends/python     *
recursive-include   var                 *.txt
recursive-include   var                 passwd *.txt
recursive-include   lib                 *.txt *.py
recursive-include   log                 *.txt
include             tests/__init__.py
include             tests/BackendTestCase.py
include             tests/ProgrammingBackendTestCase.py
include             tests/README.txt
include             tests/runtests
include             tests/testSpooler.py
include             tests/testTestJob.py
include             tests/testTestResult.py
include             tests/testKeywords.py
include             tests/testHaskell.py
include             tests/testJava.py
include             tests/testJUnit.py
include             tests/testPython.py
